.title {
    margin: 20px 0px;
    font-size: 28px;
    font-weight: 800px;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.choice {
    color: yellow;
    background-color: inherit;
    padding: 30px;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.choice:hover {
    /* background-color: rgba(65, 65, 65, 0.5); */
    transform: translateY(-2px);
}

.choice:active {
    background-color: rgb(45, 45, 45);
}

#wlt {
    margin-top: 100px;
    font-weight: 400;
}

.reset-css {
    margin-top: 20px;
    border: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-color: white;
}

#status {
    margin: 10px 0px;
    font-weight: 700;
    font-size: 30px;
}

.emoji {
    height: 60px;
}

#compEmoji, #userEmoji{
    height: 50px;
}