header{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: black;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}
.headers-link {
    display: inline-block;
    padding: 6px;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0);
}


.logo-container {
    width: 180px;
}

@media (max-width: 800px) {
    .logo-container {
        width: unset;
    }
}

.logo {
    height: 30px;
}



.middle-section {
    flex: 1;
    max-width: 850px;
    margin-left: 10px;
    margin-right: 30px;
    display: flex;
}

.search-bar {
    flex: 1;
    font-size: 16px;
    height: 30px;
    padding: 6px;
    padding-left: 12px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.search-button {
    height: 42px;
    width: 46px;
    background-color: rgb(254, 189, 105);
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-pic {
    height: 20px;
}

.rigth-section {
    width: 180px;
    flex-shrink: 0;
    display: flex;
    justify-content: end;
}

.returns-and-orders {
    width: 70px;
    color: white;
    font-size: 14px;
}

.returns {
    display: block;
    font-size: 13px;
}

.orders {
    display: block;
    font-size: 15px;
    font-weight: 700;
}

.cart {
    height: 30px;
}

.cart-container {
    display: relative;
    height: 50px;
}