.item-box {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr;
    padding: 25px;
    padding-top: 40px;
    border: 1px solid;
    border-left: 0px;
    border-top: 0px;
    border-color: rgba(233, 233, 233, 0.8);
}

.item-picture {
    max-width: 100%;
    margin-bottom: 10px;
}

.image-container {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.item-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    flex-wrap: wrap;
    width: 100%;
    height: 36px;
    margin-bottom: 8px;
}

.review-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

.item-rating {
    height: 20px;
}

.price-text {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 12px;
}

.quantity-selector {
    display: block;
    background-color: #F0F0F0;
    padding: 3px 5px;
    font-size: 15px;
    border-radius: 8px;
    border-color: rgba(166, 165, 165, 0.5);
    box-shadow: 0px 0px 4px rgba(210, 210, 210, 0.5);
    margin-bottom: 150px;
    width: 50px;
    cursor: pointer;
}

.quantity-withitems {
    margin-bottom: 45px;
}

.size-text {
    font-weight: 550;
    font-size: 18px;
}

.size-selector {
    margin-bottom: 30px;
}

.size-selector label {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.size-selector input[type="radio"] {
    display: none;
}

.size-selector input[type="radio"]:checked + label {
    border-color: orange;
}

.add-to-cart-button {
    bottom: 10px;
    left: 25px;
    right: 25px;
    background-color: rgb(255, 216, 20);
    color: rgb(33, 33, 33);
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(217, 217, 217, 0.5);
    cursor: pointer;
}

.add-to-cart-button:hover {
    
    background-color: rgb(239, 205, 33);
}