body{
    font-family: Roboto, Arial;
    padding: 0px;
    margin: 0px;
    padding-top: 60px;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (min-width: 800px) {
    .main{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 970px) {
    .main{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 560px) {
    .main{
        grid-template-columns: 1fr 1fr;
    }
}